<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375632972665-jv2q696l7cmu37germ98obk1raresgvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375632972665-jv2q696l7cmu37germ98obk1raresgvb</string>
	<key>API_KEY</key>
	<string>AIzaSyA8jowPnp4T4WQ8-KFnBjXEt4b8_oKF7E8</string>
	<key>GCM_SENDER_ID</key>
	<string>375632972665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muxiz.app.mobile</string>
	<key>PROJECT_ID</key>
	<string>muxiz-app</string>
	<key>STORAGE_BUCKET</key>
	<string>muxiz-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375632972665:ios:bdd625bc023bce600b3da8</string>
</dict>
</plist>